* {
  box-sizing: border-box;
}

:root {
  --font-color: #1e1e1e;
  --primary-color-font: #9b9b9b;
  --secondary-color-font: #000;
  --bg-color: #fff;
  --pink: #ffe3e3;
  --moon: #9b9b9b;
  --sun: #fff;
  --disabled-color: #e6e6e6;
}

body {
  background-color: var(--bg-color);
}

#root {
  width: 1280px;
  margin: 0px auto;
  overflow: hidden;
  background-color: var(--bg-color);
}
